<div class="wrapper">
    {{!-- header --}}
    <header>
        {{!-- <a href="/">Home</a> --}}
         <a class="btn" id="home" style="color: white" href="/">Home</a>
    </header>

    <div class="main-heading text-center" style="background-colo">
        <h1>&#127759; Your Saved Articles &#127759;</h1>
    </div>
    
    {{!-- all saved articles will be shown here --}}
    <div class="saved-article-div">
        <div id="saved-article" class="card">
            {{#each articles}}
            {{#if saved}}
            <ul>
                <li class="title">{{title}}</li>
                <li>{{summary}}</li>
                <li><a href='{{link}}' target='_blank'>Read More</a></li>
                <button class='delete-article-button' data-title='{{title}}' data-link='{{link}}'
                    data-summary='{{summary}}' data-id='{{id}}'>
                    Delete From Saved
                </button>
                
                
            </ul>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>